extends layout 
block content
    h1=title 
    form(
        method="POST"
        action="/new"
    )
        label Enter name: 
        br
        input(
            type="text"
            name="user"
            placeholder="Enter your name"
        )
        br
        label Enter message: 
        br
        input(
            type="text"
            name="text"
            placeholder="Enter your message"
        )
        br
        button(type="submit") Submit